@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --color-ligth: #50b0e7;
    --color-dark: #104e9a;
    --color-bginput: #f0f0f0;
    --color-statusAberto:rgb(255, 79, 79);
    --color-statusConcluido: rgb(130, 255, 92);
    --color-statusEmProgresso: rgb(255, 244, 92);
    --color-statusDesconsiderar: rgb(151, 151, 151);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--color-ligth) ;
}