.container {
    background-color: white;
    width: 420px;
    height: 320px;
    border-radius: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 15px ;
    border: solid 2px var(--color-dark);
}
.img-logo img {
    width: 70px;
   height: 70px;
   border: 2px solid var(--color-dark);
   border-radius: 50%;
}
h2{
    color: var(--color-dark);
}
p{
    color: red;
    margin-top: 10px;
    font-size: 14px;
    padding: 0px 18px;
}
.input-box {
    padding-bottom: 20px;
    padding-top: 20px;
}
.input-box input {
    border: solid 2px var(--color-dark);
    outline: none;
    background-color: var(--color-bginput);
    height: 30px;
    width: 250px;
    border-radius: 6px;
    padding: 12px;
}
.btn {
    outline: none;
    border: none;
    background-color: var(--color-dark);
    color: white;
    height: 30px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 15px ;
    cursor: pointer;
}
.btn a {
    text-decoration: none;
    color: white;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}







